<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Assistant:200" rel="stylesheet">
  <head>
    <title>TeaShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default navbar-static-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>Home</b></a>
      </div>
      <ul class="nav navbar-nav navbar-right nav-list">
        <li><%= link_to "Shop", teas_path %></li>
        <li><%= link_to "New Tea", new_tea_path %></li>
        <li><a href="#">About</a></li>
      </ul>
  </nav>
  <body>
    <div class="top-display">
    </div>
      <%= yield %>
  </body>
</html>
